form{
	width:800px;
	/*height:550px;*/
	background-color:white;
	overflow:hidden;

}

form label{
	width : 200px;
	height :16px;
	display:block;
	color:black;
	font-family: 'quicksandbook', arial;
	margin-right:20px;
	text-align:right;
	float:left;

}

form input{
	width:300px;
	border: none;
	border-bottom: 1px dashed #325083;
	color :#325083;
	font-family: 'quicksandbook', arial;
	font-size: 14px;
}

#btnsubmit {
	color:#325083;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:230px;
	width:90px;
}
#btnreset {
	color:#325083;
	width:90px;
}

form textarea{
	width:450px;
	height:150px;
	background-color:white;
	border :1px solid grey;
	font-size:14px;
	font-family: 'quicksandbook', arial;
	color:black;

}
form h1{

	color:#325083;
	font-family: 'quicksandbook', arial;
	font-size :20px;
}
form p{
	margin-left:14px;
	color:#325083;
	font-family: 'quicksandbook', arial;
}

#flotte{
	margin:10px 20px 10px 30px;
	float:left;
}
#centre {
	margin-top: 50px;
	margin-left: 100px;
}