body{
	margin:0;
	padding:0;
	background: transparent url(../images/background.png) left top repeat;
}
#content{
	width: 1000px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;

}
header{
	width: 1000px;
	height: 160px;
	margin-left:auto;
	margin-right:auto;
	background-color: #325083;
  	overflow:hidden;
}
#menu1 {
	width: 200px;
	font-family: 'quicksandbook', arial;
	background-color: transparent;
	float : left;
}

.liste1 ul{
	margin-top: 20px;
	margin-right:30px;
	margin-left:30px;
	padding:0;
	font-size:12px;
	list-style:none;
}

#principale{
	width:1000px;
	margin:0;
	/*height:700px;*/
	font-family: 'quicksandbook', arial;
	background-color: white;

}
#bloc2{
	width: 800px;
	margin-top:0;
	margin-left: 200px;
	background-color: white;

	float : left;
}
#bloc2a{
	width:800px;
	margin-top:0;
	background-color:white;
	float:left;

}
#bloc2a img{
	margin-left:40px;
	margin-top:15px;
	float:left;
}
#bloc2a ul {
	margin-left:40px;
	margin-bottom:10px;
	list-style:none;
	float:left;
}

.centreimage{
	margin-left:240px;
	margin-bottom:30px;
}

#bloc2a a,
		a:link,
		a:visited,
		a:active,
		a:hover,
		 {
	color:white;
	text-decoration:none;
}

#bloc2a a:hover {
	text-decoration:underline;
}
.lien{
	padding-left: 20px;
	padding-right:20px;
	color:white;
	background-color: #325083;
}

.espace{
	margin-bottom:30px;
}

.liste2 ul{
	margin-left:30px;
	padding:0;
	list-style:none;
}

#bloc2b{
	width: 780px;
	/*height:500px;*/
	margin-left: 200px;
	background-color:white;
	float : left;
}
#bloc2b ul{
	width: 780px;
	/*height:500px;*/
	margin-left: 200px;
	background-color:white;
	float : left;
}

footer{
	width: 1000px;
	height: 140px;
	background-color: blue;
	clear: left;
}

h1{
	color:#325083;
	margin-left:40px;
}

h2{
	color:#325083;
	margin-left:40px;
}

h3{
	color:#325083;
}

#bloc2b, .gauche {
	margin-left:20px;
	margin-bottom:30px;

}
